@page "/CompanyDashboard"
@model ELearning.Pages.Master.CompnayDashboardModel
@{
    Layout = "_CompanyLayout";
}
<div class="text-center">
    <h1 class="display-4">Welcome To Company</h1>
  
</div>
